<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    
    <display-name>Template_TW_Ghigo</display-name>
    <description>
    	empty template to use as starting point for your tries
    </description>
    
    <!-- Context attributes to be used throughout the application -->
	<context-param>
		<param-name>dao</param-name>
		<param-value>IDENTIFICATIVO_DELL_IMPLEMENTAZIONE</param-value>
	</context-param>
	
	<!-- Define servlets that are included in the application -->
	<servlet>
	        <servlet-name>ServletAuth</servlet-name>
	        <servlet-class>Servlet.ServletAuth</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>ServletAuth</servlet-name>
        <url-pattern>/servletAuth</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- default pages in case of access or errors -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
		<error-code>404</error-code>
		<location>/errors/notfound.html</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/errors/failure.jsp</location>
	</error-page>
	
</web-app>
