<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AjaxBasic</title>
	<link type="text/css" href="../styles/default.css" rel="stylesheet">
	</link>
	<link type="text/css" href="../styles/buttons.css" rel="stylesheet">
	</link>
</head>

<body>
	<h1>JSON & AJAX</h1>
	<button class="button" id="btn">Fetch live user</button>

	<div id="data-info"></div>

	<script src="../scripts/AjaxGet.js"></script>
</body>

</html>