<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Chat</title>
    <link type="text/css" href="../styles/default.css" rel="stylesheet">
	</link>
	<link type="text/css" href="../styles/buttons.css" rel="stylesheet">
	</link>
</head>
<body>
    <div id="chat"></div>
    <input type="text" id="messageInput" placeholder="Inserisci il tuo messaggio...">
    <button class="button" onclick="sendMessage()">Invia</button>
    
	<script src="../scripts/WebSocket.js"></script>
</body>
</html>
